body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
.hexColor{
    text-transform: capitalize;
}
.hex{
    font-size: 3rem;
}

.hexColorBtn{
    color: #f15025;
    border: 3px solid #f15025;
    cursor: pointer;
}